body {
    font-family: Montserrat;
    font-weight: normal;
    text-align: center;
    background-color: #181D31;
}
h1 {
    color: red;
    font-size: 2.5rem;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

p{
    color: lightgrey;
    padding-top: 2%;
}

span{
    color: darkred;
}

/* Nav bar */

.navbar-brand{
    
    background-color: inherit;
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
    color: dimgray;
    padding: 1% 1%;
    margin: 0 auto 0 1%;
}

/* Intro section */

#intro{
     background-color: lawngreen;
     
}

.intro-h1{
    color: #181D31;  /*Почему этот h1 нужно выделять как доп. селектор? */
    font-size: 2.5rem;
    font-weight: bold;   
}

.intro-text{
    text-align: center;
    padding: 5%;
    
}

/* SE section */

#SE{
    text-align: center;
    background-color: #181D31;
    padding: 0 2% 1%;
}

.SE-box{
    font-family: Ubuntu;
    font-weight: normal;
    color: dimgray;
    padding: 3% 5%;
    background-color: chartreuse;
    border: 1px;
    border-style: solid;
    border-color: #181D31;
    border-radius: 2%;
    
}

.icon{
    color: dimgray;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #181D31;
}

   /* a:visited {
       background-color: rgb(168, 241, 154);
   } */



        /* Themes */

    .themes{
        text-align: start;
        margin: 0 2% 5%;
    }
    .a-themes:hover{
        background-color: rgb(159, 252, 244);
    }

        /* Footer */

        .footer{
            padding: 1%;
        }
        .p-footer{
            color: dimgray;
        }