body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: rgb(238, 228, 228);
}
h1 {
    color: red;
    font-size: 30px;
    /*background-color: royalblue;*/
}
/* h3 {
    color: red;
    font-size: 20px; 
}*/
div {
    margin: 50px auto;
    width: 30%;
}
ul {
    width: 100%; /* Ширина меню */
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 10pt; /* Размер названий в пункте меню */
    text-align: left;
   }
li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #666; /* Цвет текста */
    border: 1px solid #ccc;/* Рамка вокруг пунктов меню */
    background-color: #f0f0f0; /* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
    line-height: 2;
   }
   a:hover {
       background-color: rgb(159, 252, 244);
   }
   a:visited {
       background-color: rgb(168, 241, 154);
   }
